/* @import url(small.css) (min-width:0px);
@import url(large.css) (min-width:900px); */

:root {
  --main-bg-color: rgb(35, 35, 35);
  --main-text-color: #f9faffde;
  --shadow-color: #858ebca3;
}

html {
  display: block;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-shadow: var(--shadow-color) -2px 2px 8px;
}

#container {
  width: 100vw;
  height: 100vh;
}

.mask1 {
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' style='fill:black;font-size:90vw;'><text y='80%'>🌱</text></svg>");
  mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' style='fill:black;font-size:90vw;'><text y='80%'>🌱</text></svg>");
  mask-repeat: no-repeat;
  mask-position: center;
}

p {
  position: absolute;
  font-size: 10px;
  -webkit-animation: fade 1s;
  animation: fade 1s;
  color: rgb(10 200 10);
}

@keyframes fade {
  0% { opacity: 0; }
  70% { opacity: 0.7; }
  100% { opacity: 1; }
}